{% extends "authentication/base.html" %}

{% block login_content%}

<form method="post" action="{% url 'driver:login_password' carNumber %}">
    {% csrf_token %}
    <span class="login100-form-logo">
						<i class="fa fa-key" style="color: #923D41;"></i>
					</span>

    <div style="padding: 30px 0px;text-align: center;color: white;font-size: 23px;">
        {% if wrongPassword %}
        Incorrect password
        {% else %}
        Password sent to your mail!
        {% endif %}
    </div>

    <div class="wrap-input100 validate-input" data-validate="Enter valid password">
        <input class="input100" type="password" name="password" placeholder="Enter Password">
        <input class="input100" type="hidden" name="email" value="{{email}}">
        <span class="focus-input100" data-placeholder="&#xf207;"></span>
    </div>

    <div class="prompt_studentID">
        <p>
            Password is not correct
        </p>
    </div>
    <div class="container-login100-form-btn">
        <button class="login100-form-btn">
            Log in
        </button>
    </div>
    <div class="text-center p-t-90">
        <a class="txt1" href="#">
        </a>
    </div>
</form>
{% endblock login_content%}
