<html>
    <head>
        <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    </head>

    <body>
        <div>
            <table class="table" id="example4">
                <thead>
                    <tr>
                        <th class="center"> Room No </th>
                        <th class="center"> Gender </th>
                        <th class="center"> Room Capacity </th>
                        <th class="center"> Current size </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd gradeX">
                        <td class="center"> 
                            A1
                        </td>
                        <td class="center">Male</td>
                        <td class="center">4</td>
                        <td class="center">2</td>
                    </tr>

                    <tr class="odd gradeX">
                        <td class="center"> 
                            A2
                        </td>
                        <td class="center">Female</td>
                        <td class="center">3</td>
                        <td class="center">2</td>
                    </tr>

                    <tr class="odd gradeX">
                        <td class="center"> 
                            A1
                        </td>
                        <td class="center">Male</td>
                        <td class="center">3</td>
                        <td class="center">2</td>
                    </tr>

                    <tr class="odd gradeX">
                        <td class="center"> 
                            A2
                        </td>
                        <td class="center">Male</td>
                        <td class="center">4</td>
                        <td class="center">2</td>
                    </tr>
                        
                </tbody>
            </table>
        </div>



        
        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>

        <script src="../static/js/table_data.js"></script>
        <script src="../static/js/jquery.dataTables.min.js"></script>


    </body>
</html>