{% extends "base.html" %}
{% block nav_content %}
<nav class="navbar-sidebar">
    <ul class="list-unstyled navbar__list">
        <li class="active">
            <a class="js-arrow" href="{% url 'ocrAdmin:incidence' %}">
                <i class="fas fa-home"></i>Home</a>
        </li>
        <li>
            <a href="{% url 'ocrAdmin:drivers_list' %}">
                <i class="fas fa-bus"></i>Car Owners</a>
        </li>
        <li>
            <a href="table.html">
                <i class="fas fa-table"></i>Tables</a>
        </li>
       
        
        <li>
            <a href="map.html">
                <i class="fas fa-map-marker-alt"></i>Maps</a>
        </li>
      
     
    </ul>
</nav>
{% endblock nav_content %}
{% block content %}
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content ">
                    <div class="container-fluid">
                        <div class="row">
                          
                            <section class="p-t-20">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3 class="title-5 m-b-35">Offenders</h3>
                                            <div class="table-data__tool">
                                                <div class="table-data__tool-left">
                                                    <div class="rs-select2--light rs-select2--md">
                                                        <select class="js-select2" name="property">
                                                            <option selected="selected">All Properties</option>
                                                            <option value="">Option 1</option>
                                                            <option value="">Option 2</option>
                                                        </select>
                                                        <div class="dropDownSelect2"></div>
                                                    </div>
                                                    <div class="rs-select2--light rs-select2--sm">
                                                        <select class="js-select2" name="time">
                                                            <option selected="selected">Today</option>
                                                            <option value="">3 Days</option>
                                                            <option value="">1 Week</option>
                                                        </select>
                                                        <div class="dropDownSelect2"></div>
                                                    </div>
                                                    <button class="au-btn-filter">
                                                        <i class="zmdi zmdi-filter-list"></i>filters</button>
                                                </div>
                                              
                                            </div>
                                            <div class="table-responsive table-responsive-data2">
                                                <table class="table table-data2">
                                                    <thead>
                                                        <tr>
                                                          
                                                            <th>name</th>
                                                            <th>Phone</th>
                                                            <th>Car No</th>
                                                            <th>date</th>
                                                            <th>Fine</th>
                                                            <th>Traffic Light No</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for incidence in incidence %}
                                                            
                                                            <tr class="tr-shadow">
                                                                
                                                                <td>{{ incidence.driver.first_name }}</td>
                                                                <td class="desc">
                                                                    {{incidence.driver.mobile}}
                                                                </td>
                                                                <td ><span class="block-email ">{{incidence.licensePlate}}</span></td>
                                                                <td>{{incidence.date_created}}</td>
                                                                <td>
                                                                    <!-- Can use status--denied for a red color-->
                                                                    <span class="status--process">Paid</span>
                                                                </td>
                                                                <td>{{incidence.traffic_light_no}}</td>
                                                                <td>
                                                                    <div class="table-data-feature">
                                                                        
                                                                        <div class="rs-select2--sm ">
                                                                            <select class="js-select2" name="type">
                                                                                <option selected="selected">Edit</option>
                                                                                <option value="">Fine paid</option>
                                                                                <option value="">Not Paid</option>
                                                                            </select>
                                                                            <div class="dropDownSelect2"></div>
                                                                        </div>
                                                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                                            <i class="zmdi zmdi-delete"></i>
                                                                        </button>
                                                                        
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr class="spacer"></tr>
                                                        
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                          
                        </div>
                    </div>
                </div>
            </div>
{% endblock content %}